<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='css/mobileStylesheet.css') }}>
    <meta charset="UTF-8">
    <title>LED APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=2">

</head>
<body>
   <!-- <nav>
        <ul>
            <li><a href="#led">LEDs</a></li>
            <li><a href="#desktop">Power Desktop</a></li>
            <li><a href="#printer" >Power Printer</a></li>
        </ul>
    </nav>-->
    <main>
        <section id="led">
            <h2>LEDs</h2>
            <div class="range_input">
            <form action="/mobile" method="POST">
            <label for="red">Red: </label><input class="rangeslider" type="range" id="red" min="0" max="1023" step="1" name="redvalue" value="{{ red }}"><br>
                <label for="green">Green: </label><input type="range" id="green" min="0" max="1023" step="1" name="greenvalue" value="{{ green }}"><br>
            <label for="blue">Blue: </label><input type="range" id="blue" min="0" max="1023" step="1" name="bluevalue" value="{{ blue }}"><br>
            <label for="brightness"> </label><input type="range" min="0" max="1" step="0.01" id="brightness" name="brightness" value="{{ brightness }}"><br><br>
            <div class="applyButton">
                <input class="submitButton" type="submit" value="Apply"></form>
                </div>
            </div>
        </section>
        <br>
        <div class="buttons_div"></div>
            <button onclick="window.location.href='/mobile/on';">LEDs on</button>
            <button onclick="window.location.href='/mobile/off';">LEDs off</button>
        </div>
        </section>
<!--        <section id="desktop">-->
<!--            <h2>Power Desktop</h2>-->

<!--        </section>-->
<!--        <section id="printer">-->
<!--            <h2>Power Printer</h2>-->

<!--        </section>-->
    </main>
<!--    <footer>
        <p>Smarthome WebApp by Johannes Däges</p>
    </footer>-->
</body>
</html>