body {
    background-color: dimgray;
    font-family: Helvetica;
    color: darkorange;
}


button {
    background-color: dimgray;
    font-family: Helvetica;
    color: darkorange;
    border: 3px solid darkorange;
    border-radius: 5px;
    padding: 10px;
}

.submitButton{
    background-color: dimgray;
    font-family: Helvetica;
    color: darkorange;
    border: 3px solid darkorange;
    border-radius: 5px;
    padding: 10px;
}